{{#if characters.length}}
<ul>
  {{#each characters}}
  <li>
    <button type="button"
      class="button is-text"
      hx-post="/missions/{{../mission.id}}/characters/{{this.id}}"
      hx-target="#selectedCharactersList"
      hx-swap="beforeend">
      {{this.name}}
      {{#if this.is_deceased}}
      <span class="icon has-text-grey" title="Deceased"><i class="fas fa-skull"></i></span>
      {{/if}}
    </button>
  </li>
  {{/each}}
</ul>
{{else}}
  {{#if q}}
    <div class="notification is-warning">
      No characters found matching "{{q}}"
    </div>
  {{else}}
    <div class="notification is-warning">
      Enter a character name to search
    </div>
  {{/if}}
{{/if}}
