{{#if characters.length}}
<div class="columns is-multiline">
  {{#each characters}}
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        {{#if this.image_url}}
        <figure class="image is-4by3">
          <img src="{{this.image_url}}" alt="{{this.name}}">
        </figure>
        {{else}}
        <div class="notification is-info">No image available</div>
        {{/if}}
        <div class="container mt-4">
          <p class="title is-4">{{this.name}}</p>
          <div class="content">
            <a href="/characters/{{this.id}}/{{encodeURIComponentH this.name}}" class="button is-primary is-fullwidth">
              View Character
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="box">
  {{#if q}}
    <div class="notification is-warning">
      No characters found matching "{{q}}"
    </div>
  {{else}}
    <div class="notification is-info">
      Adjust filters or type a name to search
    </div>
  {{/if}}
</div>
{{/if}}
