{{#if joinedPosts.length}}
<div id="lfg-posts" class="block">
  {{#each joinedPosts}}
  <div class="box lfg-post">
    <h3 class="title is-4">{{this.title}}</h3>
    <p>Date: {{date_tz this.date "dddd, MMMM Do YYYY, h:mm" ../profile.timezone}}</p>
    <p class="is-size-7">Created by: {{this.creator_name}}</p>
    <p class="mt-4">
      {{#if this.host_id}}
      Conduit: {{this.host_name}}{{else}}<span class="tag is-warning">Conduit needed</span>
      {{/if}}
    </p>
    <div class="box content mt-4">
      {{{markdown this.description}}}
    </div>
    <div class="buttons is-right">
      <button class="button is-danger" hx-delete="/lfg/{{this.id}}/join" hx-confirm="Are you sure?" hx-swap="outerHTML">Leave Game</button>
      <a class="button is-secondary" href="/lfg/{{this.id}}">View</a>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<p class="has-text-centered">You have not joined any LFG posts.</p>
{{/if}}
