{{#if ownPosts.length}}
<div id="lfg-posts" class="block table-container">
  <table class="table is-fullwidth app-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Conduit</th>
        <th>Status</th>
        <th class="is-pulled-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each ownPosts}}
      <tr>
        <td>{{this.title}}{{#if this.pending_request_count}}<span class="badge is-danger">{{this.pending_request_count}}</span>{{/if}}</td>
        <td>{{date_tz this.date "dddd, MMMM Do YYYY, h:mm A" ../profile.timezone}}</td>
        <td>
          {{#if this.host_id}}
          {{#if this.host_is_public}}<a href="/profile/view/{{encodeURIComponentH this.host_name}}#conduit-briefing">{{this.host_name}}</a>{{else}}{{this.host_name}}{{/if}}
          {{else}}
          <span class="tag is-warning">Conduit needed</span>
          {{/if}}
        </td>
        <td>
          {{this.status}}
        </td>
        <td>
          <div class="buttons is-right">
            <button class="button is-danger is-small" hx-delete="/lfg/{{this.id}}" hx-confirm="Are you sure you want to delete this LFG post?" hx-swap="outerHTML">Delete</button>
            <button class="button is-warning is-small" hx-get="/lfg/{{this.id}}/edit" hx-swap="outerHTML" hx-target="closest table">Edit</button>
            <a class="button is-light is-small" href="/lfg/{{this.id}}">View</a>
            <div hx-include=".lfg-{{this.id}}">
              <input type="hidden" name="name" class="lfg-{{this.id}}" value="{{this.title}}">
              <input type="hidden" name="statement" class="lfg-{{this.id}}" value="{{this.description}}">
              <input type="hidden" name="date" class="lfg-{{this.id}}" value="{{this.date}}">
              {{#if this.host_id}}
              <input type="hidden" name="host_id" class="lfg-{{this.id}}" value="{{this.host_id}}">
              {{/if}}
              <input type="hidden" name="host_name" class="lfg-{{this.id}}" value="{{this.host_name}}">
              {{#each this.join_requests}}
              <input type="hidden" name="characters[]" class="lfg-{{../this.id}}" value="{{this.character_id}}">
              {{/each}}
              <button class="button is-info is-small" hx-post="/missions" hx-confirm="Create a mission from this LFG post?">Create Mission</button>
            </div>
            <button class="button is-primary is-small" hx-get="/lfg/{{this.id}}/requests" hx-swap="outerHTML" hx-target="closest table">View Join Requests</button>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<div class="notification is-light has-text-centered">
  <p class="mb-3"><span class="icon is-large has-text-grey-light"><i class="fas fa-bullhorn fa-2x"></i></span></p>
  <p class="is-size-5 mb-2">No posts yet</p>
  <p>Create a Looking For Game post to find players for your next Enclave session.</p>
</div>
{{/if}}
