<form hx-{{#if post}}put{{else}}post{{/if}}="{{#if post}}/lfg/{{post.id}}{{else}}/lfg{{/if}}" hx-swap="afterend"
  class="box">
  <div class="field">
    <label class="label">Game Title</label>
    <div class="control">
      <input class="input" type="text" name="title" placeholder="Game Title" value="{{post.title}}" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Game Description</label>
    <div class="control">
      <textarea class="textarea" name="description" placeholder="Game Description"
        data-toast-editor required>{{post.description}}</textarea>
    </div>
  </div>

  <div class="field">
    <label class="label">Date</label>
    <div class="control">
      <input class="input" type="datetime-local" name="date" value="{{#if post}}{{date_tz post.date "YYYY-MM-DDTHH:MM" profile.timezone}}{{else}}{{date_tz (date "now" "YYYY-MM-DDTHH:MM") "YYYY-MM-DDTHH:MM" profile.timezone}}{{/if}}" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Conduit</label>
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="host_id" hx-on:click="htmx.toggleClass(htmx.find('#character-select'), 'is-hidden')" {{#if (eq post.host_id profile.id)}}checked{{/if}}>
        I will Conduit this game
      </label>
    </div>
  </div>

  <div class="field{{#if (eq post.host_id profile.id)}} is-hidden{{/if}}" id="character-select">
    <label class="label">Character</label>
    <div class="control">
      <div class="select">
        <select name="character">
          <option value="">Select a character to join</option>
          {{#each characters}}
          <option value="{{this.id}}" {{#inArray (pluck post.join_requests "id") this.id}}selected{{/inArray}}>{{this.name}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Max Characters</label>
    <div class="control">
      <input class="input" type="number" name="max_characters" min="1"
        value="{{#if post}}{{post.max_characters}}{{else}}1{{/if}}">
    </div>
  </div>

  <div class="field">
    <label class="label">Public</label>
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="is_public" {{#if post.is_public}}checked{{/if}}>
        Make this post public
      </label>
    </div>

    {{#if post}}
    <div class="field">
      <label class="label">Status</label>
      <div class="control">
        <div class="select">
          <select name="status" required>
            <option value="open" {{#if (eq post.status 'open' )}}selected{{/if}}>Open</option>
            <option value="closed" {{#if (eq post.status 'closed' )}}selected{{/if}}>Closed</option>
          </select>
        </div>
      </div>
    </div>
    {{/if}}

    <div class="field is-grouped mt-4">
      <div class="control">
        <button class="button is-primary" type="submit" hx-indicator="this">{{#if post}}Update{{else}}Create{{/if}} LFG Post</button>
      </div>
      <div class="control">
        <a class="button is-light" href="/lfg" hx-target="body" hx-swap="innerHTML">Cancel</a>
      </div>
    </div>
</form>