{{#if ownPosts.length}}
<div id="lfg-posts" class="block">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Conduit</th>
        <th>Status</th>
        <th class="is-pulled-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each ownPosts}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{date_tz this.date "dddd, MMMM Do YYYY, h:mm" ../profile.timezone}}</td>
        <td>
          {{#if this.host_id}}
          {{this.host_name}}
          {{else}}
          <span class="tag is-warning">Conduit needed</span>
          {{/if}}
        </td>
        <td>
          {{this.status}}
        </td>
        <td>
          <div class="buttons is-right">
            <button class="button is-danger is-small" hx-delete="/lfg/{{this.id}}" hx-confirm="Are you sure?" hx-swap="outerHTML">Delete</button>
            <button class="button is-warning is-small" hx-get="/lfg/{{this.id}}/edit" hx-swap="outerHTML" hx-target="closest table">Edit</button>
            <a class="button is-secondary is-small" href="/lfg/{{this.id}}">View</a>
            <button class="button is-primary is-small" hx-get="/lfg/{{this.id}}/requests" hx-swap="outerHTML" hx-target="closest table">View Join Requests</button>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<p class="has-text-centered">You have not created any LFG posts.</p>
{{/if}}
