<div class="columns is-multiline">
    {{#each classes}}
    <div class="column is-3">
        <div class="card">
          {{#if this.image_url}}
          <div class="card-image">
            <a href="/classes/{{this.id}}/{{this.name}}">
              <div
                class="image-crop-render"
                data-cropped-image
                data-image-src="{{this.image_url}}"
                data-crop-x="{{this.image_crop.x}}"
                data-crop-y="{{this.image_crop.y}}"
                data-crop-width="{{this.image_crop.width}}"
                data-crop-height="{{this.image_crop.height}}"
                role="img"
                aria-label="{{this.name}}"
              ></div>
            </a>
          </div>
          {{/if}}
        <div class="card-content">
          <h5 class="title is-5"><a href="/classes/{{this.id}}/{{this.name}}">{{this.name}}</a></h5>
          {{#if this.teaser}}
          <p>{{this.teaser}}</p>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
