{{> breadcrumbs}}
<div class="box lfg-post">
  <h3 class="title is-4">{{post.title}}</h3>
  <p>Date: {{#if profile}}{{date_tz post.date "dddd, MMMM Do YYYY, h:mm A" profile.timezone}}{{else}}{{date_tz
    post.date "dddd, MMMM Do YYYY, h:mm A" "local"}}{{/if}}</p>
  <p class="is-size-7">Created by: {{#if post.creator_is_public}}<a href="/profile/view/{{encodeURIComponentH post.creator_name}}">{{post.creator_name}}</a>{{else}}{{post.creator_name}}{{/if}}</p>
  <p class="mt-4">
    {{#if post.host_id}}
    Conduit: {{#if post.host_is_public}}<a href="/profile/view/{{encodeURIComponentH post.host_name}}#conduit-briefing">{{post.host_name}}</a>{{else}}{{post.host_name}}{{/if}}{{else}}<span class="tag is-warning">Conduit needed</span>
    {{/if}}
  </p>
  <div class="box content mt-4">
    {{{markdown post.description}}}
  </div>

  {{#if (eq post.creator_id profile.id)}}
  {{#if (gt pendingCount 0)}}
  <div class="notification is-warning is-light">
    <strong>{{pendingCount}}</strong> pending join {{#if (eq pendingCount 1)}}request{{else}}requests{{/if}}.
    <div class="buttons mt-2">
      <button class="button is-small is-dark"
        hx-on:click="const t=htmx.find('#join-requests-inline');htmx.toggleClass(t,'is-hidden');if(!t.dataset.loaded&&!t.classList.contains('is-hidden')){htmx.trigger(t,'revealed');t.dataset.loaded='1';}this.innerText=t.classList.contains('is-hidden')?'Show':'Hide';">Show</button>
    </div>
  </div>
  <div id="join-requests-inline" class="block is-hidden" hx-get="/lfg/{{post.id}}/requests" hx-trigger="revealed" hx-swap="innerHTML"></div>
  {{/if}}
  {{/if}}

  <div class="buttons is-right">
    <button class="button" id="calendar-buttons-show"
      hx-on:click="htmx.toggleClass(htmx.find('#calendar-buttons'), 'is-hidden');htmx.toggleClass(htmx.find('#calendar-buttons-show'), 'is-hidden');">
      Calendar
    </button>
    <div id="calendar-buttons" class="is-hidden">
      <button class="delete mt-2" id="calendar-buttons-hide"
        hx-on:click="htmx.toggleClass(htmx.find('#calendar-buttons-show'), 'is-hidden');htmx.toggleClass(htmx.find('#calendar-buttons'), 'is-hidden');">
      </button>
      <a class="button" href="{{calendar_link 'ics' post.date post.title post.description}}">iCal</a>
      <a class="button" href="{{calendar_link 'yahoo' post.date post.title post.description}}">Yahoo</a>
      <a class="button" href="{{calendar_link 'office365' post.date post.title post.description}}">Office365</a>
      <a class="button" href="{{calendar_link 'outlook' post.date post.title post.description}}">Outlook</a>
      <a class="button" href="{{calendar_link 'google' post.date post.title post.description}}">Google</a>
    </div>
    {{#if profile}}
    {{#if (eq post.host_id profile.id)}}
    <button class="button is-danger" hx-delete="/lfg/{{post.id}}/join" hx-confirm="Are you sure?"
      hx-swap="outerHTML">Unjoin as Conduit</button>
    {{else}}
    {{#inArray (pluck post.join_requests "profile_id") profile.id}}
    <button class="button is-danger" hx-delete="/lfg/{{post.id}}/join" hx-confirm="Are you sure?"
      hx-swap="outerHTML">Unjoin</button>
    {{else}}
    <button class="button is-primary" hx-get="/lfg/{{post.id}}/join" hx-swap="outerHTML">Join</button>
    {{/inArray}}
    {{/if}}
    {{/if}}
  </div>
</div>

    <div class="table-container">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Character</th>
            <th>Class</th>
            <th>Level</th>
            <th>Player</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each post.join_requests}}
          {{#if (eq this.status "approved")}}
          {{#if this.character}}
          <tr>
            <td>
              <a href="/characters/{{this.character.id}}/{{encodeURIComponentH this.character.name}}?lfg={{../post.id}}">{{this.character.name}}</a>
            </td>
            <td>{{this.character.class}}</td>
            <td>{{this.character.level}}</td>
            <td>
              {{#if this.profile.is_public}}
              <a href="/profile/view/{{encodeURIComponentH this.profile.name}}">{{this.profile.name}}</a>
              {{else}}
              {{this.profile.name}}
              {{/if}}
            </td>
            <td>
              <button class="button is-small is-info" 
                hx-history="false"
                hx-push-url="false"
                hx-on:click="htmx.toggleClass(htmx.find('#character-details-{{this.character.id}}'), 'is-hidden');">
                Details
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div id="character-details-{{this.character.id}}" class="box is-hidden">
                <div class="columns is-multiline">
                  <div class="column is-4">
                    <h4 class="title is-5">Stats</h4>
                    <div class="columns is-multiline">
                      {{#each ../statList}}
                      <div class="column is-6">
                        <p><strong>{{capitalize this}}:</strong>
                          {{#range 0 (lookup ../this.character this)}}+ {{/range}}
                        </p>
                      </div>
                      {{/each}}
                    </div>
                  </div>
                  <div class="column is-4">
                    <h4 class="title is-5">Abilities</h4>
                    <div class="tags">
                      {{#each this.character.abilities}}
                      {{#if (lookup this 'description')}}
                      <span class="tag is-primary is-medium" data-tooltip-markdown="#lfg-ability-{{dashcase (lookup this 'class_id')}}-{{dashcase (lookup this 'name')}}">{{this.name}}</span>
                      <div id="lfg-ability-{{dashcase (lookup this 'class_id')}}-{{dashcase (lookup this 'name')}}" class="is-hidden">
                        {{{markdown (lookup this 'description')}}}
                      </div>
                      {{else}}
                      <span class="tag is-primary is-medium">{{this.name}}</span>
                      {{/if}}
                      {{/each}}
                    </div>
                  </div>
                  <div class="column is-4">
                    <h4 class="title is-5">Gear</h4>
                    <div class="tags">
                      {{#each this.character.gear}}
                      {{#if (lookup this 'description')}}
                      <span class="tag is-gray is-medium" data-tooltip-markdown="#lfg-gear-{{dashcase (lookup this 'class_id')}}-{{dashcase (lookup this 'name')}}">{{this.name}}</span>
                      <div id="lfg-gear-{{dashcase (lookup this 'class_id')}}-{{dashcase (lookup this 'name')}}" class="is-hidden">
                        {{{markdown (lookup this 'description')}}}
                      </div>
                      {{else}}
                      <span class="tag is-gray is-medium">{{this.name}}</span>
                      {{/if}}
                      {{/each}}
                    </div>
                  </div>
                </div>
                <div class="container">
                  <h4 class="title is-5">Personality</h4>
                  {{#each this.character.personality}}
                    <span class="tag is-primary is-medium">{{capitalize this.name}}</span>
                  {{/each}}
                </div>
              </div>
            </td>
          </tr>
          {{/if}}
          {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>

  {{#if post.host_id}}
  <div class="notification is-info">
    <strong>Conduit:</strong> {{#if post.host_is_public}}<a href="/profile/view/{{encodeURIComponentH post.host_name}}#conduit-briefing">{{post.host_name}}</a>{{else}}{{post.host_name}}{{/if}}
  </div>
  {{/if}}

  <div class="box mt-4">
    <h4 class="title is-5">Party Stats</h4>
    {{#if (gt approvedCount 0)}}
    <div class="columns is-multiline">
      {{#each statList}}
      <div class="column is-3">
        <p><strong>{{capitalize this}}:</strong>
          {{#range 0 (lookup ../partyStats this)}}
          +
          {{/range}}
          ({{lookup ../partyStats this}})
        </p>
      </div>
      {{/each}}
    </div>
    {{else}}
    <p class="has-text-grey">No approved party members yet.</p>
    {{/if}}
  </div>
</div>