<h2 class="title is-2">Looking for Game</h2>
<div class="block">
  <div class="content">
    <p>Find other agents to join you in your Enclave missions. Create a post to find players or join a post to hop into a game.</p>
  </div>
  <div class="block" id="create-post">
    <button class="button is-primary" hx-get="/lfg/new" hx-swap="outerHTML">Create LFG Post</button>
  </div>
</div>
{{#if posts.length}}
<div id="lfg-posts" class="block">
  {{#each posts}}
    <div class="box lfg-post">
      <h3 class="title is-4">{{this.title}}</h3>
      <p>Date: {{date this.date "dddd, MMMM Do YYYY, h:mm"}}</p>
      <p class="is-size-7">Created by: {{this.creator_name}}</p>
      <p class="mt-4">{{#if this.host_id}}Conduit: {{this.host_name}}{{else}}<span class="tag is-warning">Conduit needed</span>{{/if}}</p>
      <div class="box content mt-4">
          {{{markdown this.description}}}
      </div>
      <div class="buttons is-right">
        {{#if (eq this.creator_id (lookup ../profile "id"))}}
        <button class="button is-danger" hx-delete="/lfg/{{this.id}}" hx-confirm="Are you sure?" hx-swap="outerHTML">Delete</button>
        <button class="button is-warning" hx-get="/lfg/{{this.id}}/edit" hx-swap="outerHTML" hx-target="closest .lfg-post">Edit</button>
        {{/if}}
        <a class="button is-secondary" href="/lfg/{{this.id}}">View</a>
        <button class="button is-primary" hx-get="/lfg/{{this.id}}/join" hx-swap="outerHTML">Join</button>
      </div>
    </div>
  {{/each}}
</div>
{{else}}
<p class="has-text-centered">No LFG posts yet.</p>
{{/if}}
