<div class="container">
  <h1 class="title is-2">{{mission.name}}</h1>
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="box">
        <h3 class="title is-4">Mission Details</h3>
        <p><strong>Date:</strong> {{date_tz mission.date "dddd, MMMM Do YYYY, h:mm A" profile.timezone}}</p>
        <p><strong>Status:</strong> {{mission.outcome}}</p>
        <p><strong>Focus Words:</strong> {{mission.focus_words}}</p>
      </div>

      <div class="box">
        <h3 class="title is-4">Mission Statement</h3>
        <div class="content">
          {{{markdown mission.statement}}}
        </div>
      </div>

      <div class="box">
        <h3 class="title is-4">Mission Summary</h3>
        <div class="content">
          {{{markdown mission.summary}}}
        </div>
      </div>

      {{#if (eq mission.creator_id profile.id)}}
      <div class="buttons">
        <a href="/missions/{{mission.id}}/edit" class="button is-warning">Edit Mission</a>
        <button class="button is-danger" hx-delete="/missions/{{mission.id}}" hx-confirm="Are you sure you want to delete this mission?" hx-redirect="/missions">Delete Mission</button>
      </div>
      {{/if}}
    </div>
  </div>
</div>
