<h2 class="title is-3">{{#if isNew}}Create New Mission{{else}}Edit Mission{{/if}}</h2>

<form hx-{{#if isNew}}post{{else}}put{{/if}}="/missions{{#unless isNew}}/{{mission.id}}{{/unless}}"
  hx-redirect="/missions">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" name="name" placeholder="Mission Name" value="{{mission.name}}" required>
    </div>
  </div>

  {{!-- conduit --}}
  <div class="field">
    <label class="label">Conduit</label>
    <div class="control">
      {{!-- <div class="select"> --}}
          {{!-- if host get host.name other use mission.host_name --}}
          {{#if host}}
            <input type="hidden" name="host_id" value="{{host.id}}">
            <input type="text" class="input" name="host_name" value="{{host.name}}" disabled>
          {{else}}
            <input type="text" class="input" name="host_name" value="{{host.name}}">
          {{/if}}
      {{!-- </div> --}}
    </div>

  <div class="field">
    <label class="label">Focus Words</label>
    <div class="control">
      <input class="input" type="text" name="focus_words" placeholder="Focus Words" value="{{mission.focus_words}}">
    </div>
  </div>

  <div class="field">
    <label class="label">Statement</label>
    <div class="control">
      <textarea class="textarea" name="statement" placeholder="Mission Statement">{{mission.statement}}</textarea>
    </div>
  </div>

  <div class="field">
    <label class="label">Summary</label>
    <div class="control">
      <textarea class="textarea" name="summary" placeholder="Mission Summary">{{mission.summary}}</textarea>
    </div>
  </div>

  <div class="field">
    <label class="label">Date</label>
    <div class="control">
      <input class="input" type="datetime-local" name="date" value="{{#if mission}}{{date_tz mission.date "YYYY-MM-DDTHH:MM" profile.timezone}}{{else}}{{date_tz (date "now" "YYYY-MM-DDTHH:MM") "YYYY-MM-DDTHH:MM" profile.timezone}}{{/if}}" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Outcome</label>
    <div class="control">
      <div class="select">
        <select name="outcome" required>
          <option value="pending" {{#if (eq mission.outcome 'pending')}}selected{{/if}}>Pending</option>
          <option value="success" {{#if (eq mission.outcome 'success')}}selected{{/if}}>Success</option>
          <option value="failure" {{#if (eq mission.outcome 'failure')}}selected{{/if}}>Failure</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Public</label>
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="is_public" {{#if mission.is_public}}checked{{/if}}>
        Make this mission public
      </label>
    </div>
  </div>

  <div class="field is-grouped mt-4">
    <div class="control">
      <button class="button is-primary" type="submit">{{#if isNew}}Create{{else}}Update{{/if}} Mission</button>
    </div>
    <div class="control">
      <a class="button is-light" href="/missions">Cancel</a>
    </div>
  </div>
</form>
