{{> breadcrumbs}}
<h1 class="title is-2">{{viewProfile.name}}</h1>

<div class="columns">
  <div class="column is-one-third">
    {{#if viewProfile.image_url}}
    <div
      class="profile-image-render"
      data-cropped-image
      data-image-src="{{viewProfile.image_url}}"
      data-crop-x="{{viewProfile.image_crop.x}}"
      data-crop-y="{{viewProfile.image_crop.y}}"
      data-crop-width="{{viewProfile.image_crop.width}}"
      data-crop-height="{{viewProfile.image_crop.height}}"
      role="img"
      aria-label="{{viewProfile.name}}'s profile picture"
    ></div>
    {{else}}
    <div class="notification is-info">No image available</div>
    {{/if}}
  </div>

  <div class="column is-two-thirds">
    <div class="content">{{{markdown viewProfile.bio}}}</div>
  </div>
</div>

{{#if viewProfile.conduit_briefing}}
<div class="box">
  {{> section-heading tag="h3" id="conduit-briefing" title="Conduit Briefing"}}
  <div class="content">{{{markdown viewProfile.conduit_briefing}}}</div>
</div>
{{/if}}

{{#if publicCharacters}}
<div class="box">
  {{> section-heading tag="h2" id="public-characters" title="Public Characters"}}
  {{#if publicCharacters.length}}
  <div class="columns is-multiline">
    {{#each publicCharacters}}
    <div class="column is-4">
        <div class="card">
          <div class="card-content">
            {{#if this.image_url}}
            <div
              class="image-crop-render"
              data-cropped-image
              data-image-src="{{this.image_url}}"
              data-crop-x="{{this.image_crop.x}}"
              data-crop-y="{{this.image_crop.y}}"
              data-crop-width="{{this.image_crop.width}}"
              data-crop-height="{{this.image_crop.height}}"
              role="img"
              aria-label="{{this.name}}"
            ></div>
            {{else}}
            <div class="notification is-info">No image available</div>
            {{/if}}
          <div class="container mt-4">
            <p class="title is-5">
              {{this.name}}
              {{#if this.is_deceased}}
              <span class="icon has-text-grey" title="Deceased"><i class="fas fa-skull"></i></span>
              {{/if}}
            </p>
            <div class="content">
              <a href="/characters/{{this.id}}/{{encodeURIComponentH this.name}}" class="button is-primary is-fullwidth">View Character</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="notification is-light">No public characters yet.</div>
  {{/if}}
</div>
{{/if}}

{{#if publicClasses}}
<div class="box">
  {{> section-heading tag="h2" id="public-classes" title="Public Classes"}}
  {{#if publicClasses.length}}
  {{#if releasedClasses.length}}
  {{> section-heading tag="h3" class="title is-4" id="released-classes" title="Released Classes"}}
  {{> profile-class-cards classes=releasedClasses}}
  {{/if}}
  {{#if pccClasses.length}}
  {{> section-heading tag="h3" class="title is-4" id="player-created-classes" title="Player-Created Classes (PCCs)"}}
  {{> profile-class-cards classes=pccClasses}}
  {{/if}}
  {{else}}
  <div class="notification is-light">No public classes yet.</div>
  {{/if}}
</div>
{{/if}}
