<div class="container">
  <h1 class="title is-2">{{viewProfile.name}}</h1>

  <div class="columns">
    <div class="column is-one-third">
      {{#if viewProfile.image_url}}
      <img src="{{viewProfile.image_url}}" alt="{{viewProfile.name}}'s profile picture" class="profile-image">
      {{else}}
      <div class="notification is-info">No image available</div>
      {{/if}}
    </div>

    <div class="column is-two-thirds">
      <div class="content">{{{markdown viewProfile.bio}}}</div>
    </div>
  </div>