<h2 class="title is-2">User Profile</h2>

<div id="profile-info" class="box">
  <div class="block">
    <p><strong>Name:</strong> <span id="user-name">{{profile.name}}</span></p>
    <p><strong>Email:</strong> <span id="user-email">{{user.email}}</span></p>
    <p>
      <strong>Discord:</strong>
      {{#if profile.discord_id}}
        Connected (ID: {{profile.discord_id}})
        {{#if profile.discord_email}}
          <span class="tag is-light">{{profile.discord_email}}</span>
        {{/if}}
        <button class="button is-small is-light" hx-on:click="App.unlinkDiscord()">Disconnect</button>
      {{else}}
        Not connected
        <button class="button is-small is-link" hx-on:click="App.linkDiscord()">Connect Discord</button>
      {{/if}}
    </p>
  </div>
  <button class="button is-primary" hx-get="/profile/edit" hx-target="#profile-info" hx-swap="innerHTML">
    Edit Profile
  </button>
  <a href="/profile/view/{{profile.name}}" class="button is-secondary">View Profile</a>
</div>